<?xml version="1.0"?>
<!--
/**
 * Shop System Plugins - Terms of Use
 *
 * The plugins offered are provided free of charge by Wirecard Central Eastern Europe GmbH
 * (abbreviated to Wirecard CEE) and are explicitly not part of the Wirecard CEE range of
 * products and services.
 *
 * They have been tested and approved for full functionality in the standard configuration
 * (status on delivery) of the corresponding shop system. They are under General Public
 * License Version 2 (GPLv2) and can be used, developed and passed on to third parties under
 * the same terms.
 *
 * However, Wirecard CEE does not provide any guarantee or accept any liability for any errors
 * occurring when used in an enhanced, customized shop system configuration.
 *
 * Operation in an enhanced, customized configuration is at your own risk and requires a
 * comprehensive test phase by the user of the plugin.
 *
 * Customers use the plugins at their own risk. Wirecard CEE does not guarantee their full
 * functionality neither does Wirecard CEE assume liability for any disadvantages related to
 * the use of the plugins. Additionally, Wirecard CEE does not guarantee the full functionality
 * for customized shop systems or installed plugins of other vendors of plugins within the same
 * shop system.
 *
 * Customers are responsible for testing the plugin's functionality before starting productive
 * operation.
 *
 * By installing the plugin into the shop system the customer agrees to these terms of use.
 * Please do not use the plugin if you do not agree to these terms of use!
 */
 -->
<config>
    <modules>
        <wirecard_checkoutpage>
            <version>4.0.4</version>
        </wirecard_checkoutpage>
    </modules>
    <global>
        <models>
            <wirecard_checkoutpage>
                <class>Wirecard_CheckoutPage_Model</class>
            </wirecard_checkoutpage>
        </models>
        <helpers>
            <wirecard_checkoutpage>
                <class>Wirecard_CheckoutPage_Helper</class>
            </wirecard_checkoutpage>
        </helpers>
        <resources>
            <wirecard_checkoutpage_setup>
                <setup>
                    <module>Wirecard_CheckoutPage</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wirecard_checkoutpage_setup>
            <wirecard_checkoutpage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wirecard_checkoutpage_write>
            <wirecard_checkoutpage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wirecard_checkoutpage_read>
        </resources>
        <blocks>
            <wirecard_checkoutpage>
                <class>Wirecard_CheckoutPage_Block</class>
            </wirecard_checkoutpage>
        </blocks>

        <events>
            <controller_front_init_before>
                <observers>
                    <wirecard_checkoutpage>
                        <class>Wirecard_CheckoutPage_Model_Autoloader</class>
                        <method>addAutoloader</method>
                        <type>singleton</type>
                    </wirecard_checkoutpage>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <frontend>
        <routers>
            <wirecard_checkoutpage>
                <use>standard</use>
                <args>
                    <module>Wirecard_CheckoutPage</module>
                    <frontName>wirecard_checkoutpage</frontName>
                </args>
            </wirecard_checkoutpage>
        </routers>
        <translate>
            <modules>
                <wirecard_checkoutpage>
                    <files>
                        <default>Wirecard_CheckoutPage.csv</default>
                    </files>
                </wirecard_checkoutpage>
            </modules>
        </translate>
        <layout>
            <updates>
                <wirecard_checkoutpage>
                    <file>wirecard_checkoutpage.xml</file>
                </wirecard_checkoutpage>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <wirecardcheckoutpage after="Mage_Adminhtml">Wirecard_CheckoutPage_Admin</wirecardcheckoutpage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <wirecard_checkoutpage>
                    <files>
                        <default>wirecard_checkoutpage.csv</default>
                    </files>
                </wirecard_checkoutpage>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <wirecard_checkoutpage>
            <settings>
                <configuration>demo</configuration>
                <customer_id>D200001</customer_id>
                <secret>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret>
            </settings>
            <options>
                <serviceurl>about-magento-demo-store</serviceurl>
                <mobiledetect>1</mobiledetect>
                <maxretries>-1</maxretries>
            </options>
            <ccardoptions>
                <showcardholder>1</showcardholder>
                <showcvc>1</showcvc>
            </ccardoptions>
        </wirecard_checkoutpage>
        <payment>
            <wirecard_checkoutpage_select>
                <active>1</active>
                <model>wirecard_checkoutpage/select</model>
                <title>Select</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_select>
            <wirecard_checkoutpage_cc>
                <active>1</active>
                <model>wirecard_checkoutpage/cc</model>
                <title>Credit Card / Maestro SecureCode</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_cc>
            <wirecard_checkoutpage_ccMoto>
                <active>0</active>
                <model>wirecard_checkoutpage/ccMoto</model>
                <title>Credit Card - Mail Order / Telephone Order</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_ccMoto>
            <wirecard_checkoutpage_eps>
                <active>1</active>
                <model>wirecard_checkoutpage/eps</model>
                <title>eps Online-Überweisung</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_eps>
            <wirecard_checkoutpage_ideal>
                <active>1</active>
                <model>wirecard_checkoutpage/ideal</model>
                <title>iDEAL</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_ideal>
            <wirecard_checkoutpage_giropay>
                <active>1</active>
                <model>wirecard_checkoutpage/giropay</model>
                <title>giropay</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_giropay>
            <wirecard_checkoutpage_tatrapay>
                <active>1</active>
                <model>wirecard_checkoutpage/tatrapay</model>
                <title>TatraPay</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_tatrapay>
            <wirecard_checkoutpage_sofortbanking>
                <active>1</active>
                <model>wirecard_checkoutpage/sofortbanking</model>
                <title>SOFORT Banking</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_sofortbanking>
            <wirecard_checkoutpage_skrilldirect>
                <active>1</active>
                <model>wirecard_checkoutpage/skrilldirect</model>
                <title>Skrill Direct</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_skrilldirect>
            <wirecard_checkoutpage_skrillwallet>
                <active>1</active>
                <model>wirecard_checkoutpage/skrillwallet</model>
                <title>Skrill Digital Wallet</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_skrillwallet>
            <wirecard_checkoutpage_mpass>
                <active>1</active>
                <model>wirecard_checkoutpage/mpass</model>
                <title>mpass</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_mpass>
            <wirecard_checkoutpage_bmc>
                <active>1</active>
                <model>wirecard_checkoutpage/bmc</model>
                <title>Bancontact/Mister Cash</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_bmc>
            <wirecard_checkoutpage_p24>
                <active>1</active>
                <model>wirecard_checkoutpage/p24</model>
                <title>Przelewy24</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_p24>
            <wirecard_checkoutpage_poli>
                <active>1</active>
                <model>wirecard_checkoutpage/poli</model>
                <title>POLi</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_poli>
            <wirecard_checkoutpage_moneta>
                <active>1</active>
                <model>wirecard_checkoutpage/moneta</model>
                <title>moneta.ru</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_moneta>
            <wirecard_checkoutpage_ekonto>
                <active>1</active>
                <model>wirecard_checkoutpage/ekonto</model>
                <title>eKonto</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_ekonto>
            <wirecard_checkoutpage_trustly>
                <active>1</active>
                <model>wirecard_checkoutpage/trustly</model>
                <title>Trustly</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_trustly>
            <wirecard_checkoutpage_paybox>
                <active>1</active>
                <model>wirecard_checkoutpage/paybox</model>
                <title>paybox</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_paybox>
            <wirecard_checkoutpage_paysafecard>
                <active>1</active>
                <model>wirecard_checkoutpage/paysafecard</model>
                <title>paysafecard</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_paysafecard>
            <wirecard_checkoutpage_quick>
                <active>1</active>
                <model>wirecard_checkoutpage/quick</model>
                <title>@Quick</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_quick>
            <wirecard_checkoutpage_paypal>
                <active>1</active>
                <model>wirecard_checkoutpage/paypal</model>
                <title>PayPal</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_paypal>
            <wirecard_checkoutpage_epaybg>
                <active>1</active>
                <model>wirecard_checkoutpage/epaybg</model>
                <title>ePay.bg</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_epaybg>
            <wirecard_checkoutpage_sepadd>
                <active>1</active>
                <model>wirecard_checkoutpage/sepadd</model>
                <title>SEPA Direct Debit</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_sepadd>
            <wirecard_checkoutpage_invoice>
                <active>1</active>
                <provider>payolution</provider>
                <model>wirecard_checkoutpage/invoice</model>
                <title>Invoice</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
                <min_order_total>10</min_order_total>
                <max_order_total>3500</max_order_total>
                <payolution_terms>0</payolution_terms>
            </wirecard_checkoutpage_invoice>
            <wirecard_checkoutpage_invoiceb2b>
                <active>1</active>
                <provider>payolution</provider>
                <model>wirecard_checkoutpage/invoiceb2b</model>
                <title>Invoice B2B</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
                <min_order_total>25</min_order_total>
                <max_order_total>3500</max_order_total>
            </wirecard_checkoutpage_invoiceb2b>
            <wirecard_checkoutpage_installment>
                <active>1</active>
                <provider>payolution</provider>
                <model>wirecard_checkoutpage/installment</model>
                <title>Installment</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
                <min_order_total>150</min_order_total>
                <max_order_total>3500</max_order_total>
                <payolution_terms>0</payolution_terms>
            </wirecard_checkoutpage_installment>
            <wirecard_checkoutpage_voucher>
                <active>1</active>
                <model>wirecard_checkoutpage/voucher</model>
                <title>My Voucher</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_voucher>
            <wirecard_checkoutpage_trustpay>
                <active>1</active>
                <model>wirecard_checkoutpage/trustpay</model>
                <title>TrustPay</title>
                <iframe>1</iframe>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutpage_trustpay>
        </payment>
    </default>
</config>